<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.novalue.blog.dao.StudentDao">

    <resultMap type="cn.novalue.blog.model.entity.Student" id="StudentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="tutor" column="tutor" jdbcType="INTEGER"/>
        <result property="enrollmentTime" column="enrollment_time" jdbcType="OTHER"/>
        <result property="graduationTime" column="graduation_time" jdbcType="OTHER"/>
        <result property="researchGroupId" column="research_group_id" jdbcType="INTEGER"/>
    </resultMap>

</mapper>